@import "tailwindcss";

:root {
  --background: #dcdcdc;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1b1b;
    --foreground: #fff;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Rubik", sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}